.home-page {
    h2 {
        font-size: 20px;
    }
    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
    
        .product {
            @extend %product;
            box-shadow: 0 0 5px black;
            max-height: 300px;
            max-width: 300px;
            .stock-status {
                font-size: inherit;
            }
            &:hover {
                box-shadow: 0 0 10px black;
            }
        }
    }
}